{% extends "panel/index/index_base.html" %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% load app_filters %}
{% block css %}
    <link rel="stylesheet" href="{% static 'dist/css/persian-datepicker.min.css' %}">
{% endblock %}
{% block page_title %}
    {% trans "Connect to social accounts" %}
{% endblock %}
{% block dashboard %}
    <li>{% trans "Connect to social accounts" %}</li>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans "Connect to social accounts" %}</h3>
                    </div>
                    <div class="box-body">

                        <div class="col-md-12">
                            {% include "errors.html" %}
                            {% include "messages.html" %}
                        </div>
                        {% if form.accounts.exists %}
                            <div class="col-md-12" style="margin-bottom: 20px;">
                                <p>{% trans "You can use any of following accounts to login to your account" %}</p>
                                <p class="small">{% trans "By chssing any account you can disconnect from that account" %}</p>
                                <form method="post" action="{% url 'socialaccount_connections' %}">
                                    {% csrf_token %}
                                    <fieldset>
                                        {% for base_account in form.accounts %}
                                            {% with base_account.get_provider_account as account %}
                                                <div class="radio">
                                                    <label class="radio" for="id_account_{{ base_account.id }}">
                                                        <input id="id_account_{{ base_account.id }}" type="radio" name="account"
                                                               value="{{ base_account.id }}"/>
                                                        {{ account }}
                                                    </label>
                                                </div>
                                            {% endwith %}
                                        {% endfor %}
                                    </fieldset>
                                    <button type="submit" class="btn btn-default">{% trans "Delete" %}</button>
                                </form>
                            </div>
                        {% else %}
                            <div class="col-md-12">
                                <p class="alert alert-warning">{% trans "You are not connected to any account yet" %}</p>
                            </div>
                        {% endif %}
                        <div class="col-md-12">
                            <p>{% trans "Connect to a new account" %}:</p>
                            {% get_providers as socialaccount_providers %}

                            {% for provider in socialaccount_providers %}
                                {% if provider.id == "openid" %}
                                    {% for brand in provider.get_brands %}
                                        <a class="btn btn-{{ brand.name }}" title="{{ brand.name }}"
                                           class="socialaccount_provider {{ provider.id }} {{ brand.id }}"
                                           href="{% provider_login_url provider.id openid=brand.openid_url process="connect" %}"
                                        >{{ brand.name }}</a>
                                    {% endfor %}
                                {% endif %}
                                <a class="btn btn-{{ provider.name|lower }}" title="{{ provider.name }}"
                                   class="socialaccount_provider {{ provider.id }}"
                                   href="{% provider_login_url provider.id process="connect" scope=scope auth_params=auth_params %}">{{ provider.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.modal -->
{% endblock %}
{% block javascripts %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/my_js/datatable.js' %}"></script>
    <!-- my fontawesom -->
    <script src="{% static 'bower_components/fontawesom/js/all.js' %} "></script>
    <script src="{% static 'dist/js/persian-date.js' %}"></script>
    <script src="{% static 'dist/js/persian-datepicker.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('#tarikh_tavalod').persianDatepicker({
                altFormat: 'X',
                calendarType: 'persian',
                persianDigit: false,
                format: 'YYYY/MM/D',
                observer: true,
                initialValue: $('#tarikh_tavalod').val() !== '',
                timePicker: {
                    enabled: false,
                },
                toolbox: {
                    calendarSwitch: {
                        enabled: false
                    }
                },
            });

        });
    </script>
{% endblock %}
