{% extends "panel/index/index_base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
    <style>
        td {
            text-align: center;
        }

        th:nth-child(11), td:nth-child(11) {
            white-space: nowrap;
        }
    </style>
{% endblock %}
{% block page_title %}
    {% trans "Notifications List" %}
{% endblock %}
{% block dashboard %}
    <li>{% trans "Notifications List" %}</li>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% include "errors.html" %}
                        {% include "messages.html" %}
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <table id="UserDatatable" class="table table-bordered table-striped table-centered vertical-middle-align">
                                <thead>
                                <tr>
                                    <th class="text-center">{% trans "ID" %}</th>
                                    <th class="text-center">{% trans "Message Text" %}</th>
                                    <th class="text-center">{% trans "Status" %}</th>
                                    <th class="text-center">{% trans "Action" %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <div class="modal fade" id="confirm_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class=" text-black">x</span></button>
                    <h4 class="modal-title"><b>{% trans "Do You want to delete this notification ?" %}</b></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger no_button" data-dismiss="modal">{% trans "No" %}</button>
                    <button type="button" class="btn btn-primary yes_button" data-dismiss="modal">{% trans "Yes" %}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}
{% block javascripts %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/my_js/datatable.js' %}"></script>
    <!-- my fontawesom -->
    <script src="{% static 'bower_components/fontawesom/js/all.js' %} "></script>
    <script>
        window.data_table_cool_options["rowCallback"] = function (row, data) {
            if (data[2]== "True") {
                    $('td:eq(2)', row).addClass("text-center").html('<span class="bg-green color-palette col-md-12">فعال</span>');
                } else {
                    $('td:eq(2)', row).addClass("text-center").html('<span class="bg-red color-palette col-md-12">غیرفعال</span>');
                }
            };
        datatable_simple_show({
            url: "{% url 'InpopmDatatable' %}",
            real_cols: 3,
            datable_id: '#UserDatatable',
            del_url: "{% url 'DeleteInfopm' pk=0 %}",
            up_url: "{% url 'InfopmUpdate' pk=0 %}",
            modal_id: "#confirm_modal"
        });
    </script>
{% endblock %}
