{% extends "panel/index/index_base.html" %}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% block page_title %}
    {% trans "Updates Titles" %}
{% endblock %}
{% block dashboard %}
    <li>{% trans "Updates Titles" %}</li>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans "Updates Titles" %}</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box-body">
                            {% include "errors.html" %}
                            {% include "messages.html" %}
                            <div class="row">

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="value">{% trans "Website title (Persian)" %}</label>
                                    <input type="text" class="form-control" name="website_title_fa"
                                           value="{% setting 'website_title_fa' 'no-title' %}"/>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="value">{% trans "Website title (English)" %}</label>
                                    <input type="text" class="form-control" name="website_title_en"
                                           value="{% setting 'website_title_en' 'no-title' %}"/>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="value">{% trans "Website Description (Persian)" %}</label>
                                    <input type="text" class="form-control" name="website_description_fa"
                                           value="{% setting 'website_description_fa' 'no-description' %}"/>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="value">{% trans "Website Description (English)" %}</label>
                                    <input type="text" class="form-control" name="website_description_en"
                                           value="{% setting 'website_description_en' 'no-description' %}"/>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="value">{% trans "Panel title (Persian)" %}</label>
                                    <input type="text" class="form-control" name="panel_title_fa"
                                           value="{% setting 'panel_title_fa' 'no-description' %}"/>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="value">{% trans "Panel title (English)" %}</label>
                                    <input type="text" class="form-control" name="panel_title_en"
                                           value="{% setting 'panel_title_en' 'no-description' %}"/>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="value">{% trans "Mini Panel Title (Persian)" %}</label>
                                    <input type="text" class="form-control" name="panel_title_mini_fa"
                                           value="{% setting 'panel_title_mini_fa' 'n-title' %}"/>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="value">{% trans "Mini Panel Title (English)" %}</label>
                                    <input type="text" class="form-control" name="panel_title_mini_en"
                                           value="{% setting 'panel_title_mini_en' 'n-title' %}"/>
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    <label for="value">{% trans "Website Icon (PNG Only)" %}</label>
                                    <input type="file" class="form-control" name="website_icon"/>
                                    {% favicon_exists as fe %}
                                    {% if fe %}
                                        <img width="100%" src="{% static "favicon.png" %}" alt="">
                                    {% endif %}
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.modal -->
{% endblock %}
