{% extends "panel/index/index_base.html" %}
{% load static %}
{% block page_title %}
    بروزرسانی سطح شبکه و سود
{% endblock %}
{% block dashboard %}
    <li>بروزرسانی سطح شبکه و سود</li>
{% endblock %}
{% block css %}
    <style>
        td {
            text-align: center;
        }

        th:nth-child(11), td:nth-child(11) {
            white-space: nowrap;
        }
    </style>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">جهت بروزرسانی سطح شبکه و سود، فرم زیر را پر کنید.</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box-body">
                            {% include "errors.html" %}
                            {% include "messages.html" %}
                            <div class="row">
                                <div class="form-group col-sm6 col-md-3">
                                    {% if form.onvan.label_tag %}
                                        <label for="value">{{ form.onvan.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.onvan }}
                                    {% if form.onvan.help_text %}
                                        <p class="help-block">{{ form.onvan.help_text }}</p>
                                    {% endif %}
                                </div>

                                <div class="form-group col-sm6 col-md-3">
                                    {% if form.value.label_tag %}
                                        <label for="value">{{ form.value.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.value }}
                                    {% if form.value.help_text %}
                                        <p class="help-block">{{ form.value.help_text }}</p>
                                    {% endif %}
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">ثبت تنظیمات</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-12">
                <div class="box">
                    <!--<div class="box-header">-->
                    <!--<h3 class="box-title">لیست کاربران سامانه سرباز</h3>-->
                    <!--</div>-->
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <table id="countlevelDatatable" class="table table-bordered table-striped table-centered vertical-middle-align">
                                <thead>
                                <tr>
                                    <th class="text-center">شناسه</th>
                                    <th class="text-center">سطح</th>
                                    <th class="text-center">مقدار</th>
                                    <th class="text-center">عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
    <div class="modal fade" id="confirm_modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class=" text-black">x</span></button>
                    <h4 class="modal-title"><b>آیا تمایل دارید این سطح را حذف کنید؟</b></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger no_button" data-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-primary yes_button" data-dismiss="modal">بلی</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}
{% block javascripts %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/my_js/datatable.js' %}"></script>

    <script>
        var i = datatable_simple_show({
            url: "{% url 'Count_Level_networkDataTable' %}",
            real_cols: 3,
            hide_id: true,
            datable_id: '#countlevelDatatable',
            del_url: "{% url 'Count_Level_networkDelete' pk=0 %}",
            up_url: "{% url 'Count_Level_networkUpdate' pk=0 %}",
            modal_id: "#confirm_modal",
            do_after_initializing: function (table) {
                $('.edit_button').off().click(function (e) {
                    e.preventDefault();
                    var onvan = i.getData($(this))[1];
                    var val = i.getData($(this))[2];
                    $('input[name="onvan"]').val(onvan);
                    $('input[name="value"]').val(val);
                });
            },
        });
        $('#chartdiv > div:nth-child(2) > svg > g > g:nth-child(2) > g:nth-child(2) > g > g:nth-child(3)').remove()

    </script>

{% endblock %}
