{% extends "panel/index/index_base.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block page_title %}
    داشبرد
{% endblock %}
{% block main_content %}
    <div class="col-md-12">
        {% include "errors.html" %}
        {% include "messages.html" %}
    </div>

    <!-- Main content -->
    {% include 'system/Tabligh/show_tabligh_part.html' %}
    <!-- /.content -->
{% endblock %}

{% block javascripts %}
    <script src="{% static 'dist/my_js/show_tabligh.js' %}"></script>
{% endblock %}