{% extends "panel/index/index_base.html" %}
{% load static %}
{% load app_filters %}
{% block css %}
{% endblock %}
{% block page_title %}
    ایجاد کاربر
{% endblock %}
{% block dashboard %}
    <li>ایجاد کاربر</li>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">جهت ایجاد تبلیغ، فرم زیر را پر کنید.</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box-body">
                            {% include "errors.html" %}
                            {% include "messages.html" %}
                            <div class="row">
                                <div class="form-group col-sm-6 col-md-3">
                                    {% if form.old_password.label_tag %}
                                        <label for="password">{{ form.old_password.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.old_password }}
                                    {% if form.old_password.help_text %}
                                        <p class="help-block">{{ form.old_password.help_text }}</p>
                                    {% endif %}
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    {% if form.new_password1.label_tag %}
                                        <label for="password2">{{ form.new_password1.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.new_password1 }}
                                    {% if form.new_password1.help_text %}
                                        <p class="help-block">{{ form.new_password1.help_text }}</p>
                                    {% endif %}
                                </div>

                                <div class="form-group col-sm-6 col-md-3">
                                    {% if form.new_password2.label_tag %}
                                        <label for="password2">{{ form.new_password2.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.new_password2 }}
                                    {% if form.new_password2.help_text %}
                                        <p class="help-block">{{ form.new_password2.help_text }}</p>
                                    {% endif %}
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">ثبت رمزعبور</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.modal -->
{% endblock %}
{% block javascripts %}
{% endblock %}
