{% extends "panel/index/index_base.html" %}
{% load static %}
{% block page_title %}
    لیست کلیک ها
{% endblock %}
{% block dashboard %}
    <li>لیست کلیک ها</li>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% include "errors.html" %}
                        {% include "messages.html" %}

                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <table id="networkdatatable" class="table table-bordered table-striped table-centered vertical-middle-align">
                                <thead>
                                <tr>
                                    <th class="text-center">شناسه</th>
                                    <th class="text-center">کاربر</th>
                                    <th class="text-center">ساعت کلیک</th>
                                    <th class="text-center">تبلیغ</th>
                                    <th class="text-center">مبلغ هر کلیک</th>
                                    <th class="text-center">آیی پی</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.modal -->
{% endblock %}
{% block javascripts %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/my_js/datatable.js' %}"></script>
    <!-- my fontawesom -->
    <script>
        datatable_simple_show({
            url: "{% url 'clickdatatable' %}",
            real_cols: 6,
            hide_id: true,
            datable_id: '#networkdatatable',
            no_action_nutton: true
        });
    </script>
{% endblock %}
