{% extends "panel/index/index_base.html" %}
{% load static %}
{% block page_title %}
    نمایش گرافیکی شبکه بازاریابی
{% endblock %}
{% block main_content %}
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">نمایش گرافیکی شبکه ی شما</h3>
                    </div>
                    <!-- /.box-header -->
                    <iframe style="border: None;" src="{% url 'Chart_2' %}" width="100%" height="900px"></iframe>
                    <br>
                    <br>
                    <br>
                    <br>

                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
{% endblock %}