{% extends "panel/index/index_base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load app_filters %}
{% block css %}
{% endblock %}
{% block page_title %}
    {% trans "Transfer from income money to pocket money" %}
{% endblock %}
{% block dashboard %}
    <li>{% trans "Transfer from income money to pocket money" %}</li>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans "Transfer from income money to pocket money" %}</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box-body">
                            {% include "errors.html" %}
                            {% include "messages.html" %}
                            <div class="row">
                                {% r request.user.get_kif_daramad.current_recieved_direct as direct %}
                                {% r request.user.get_kif_daramad.current_recieved_indirect as indirect %}
                                {% if not request.user.allow_indirect %}
                                    <div class="col-md-12 ">
                                        <div class="alert alert-warning alert-dismissable" role="alert">
                                            <a href="#" class="close pull-left" data-dismiss="alert" aria-label="close">×</a>
                                            {% autoescape off %}
                                                {% parse_simple_settings LANGUAGE_CODE request %}
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="col-md-4">
                                    <div class="alert alert-info">
                                        {% trans "Your direct income" %} :
                                        <b>{{ direct }}</b>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="alert alert-info">
                                        {% trans "Your indirect income" %} :
                                        <b>{{ indirect }}</b>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="alert alert-info">
                                        {% trans "Transferable Mount" %} :
                                        <b>{% if request.user.allow_indirect %}
                                            {{ direct|add:indirect }}
                                        {% else %}
                                            {{ direct }}
                                        {% endif %}</b>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-4">
                                    {% if form.how_much.label_tag %}
                                        <label for="vazeyat">{{ form.how_much.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.how_much }}
                                    {% if form.how_much.help_text %}
                                        <p class="help-block">{{ form.how_much.help_text }}</p>
                                    {% endif %}
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">{% trans "Transfer" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.modal -->
{% endblock %}
{% block javascripts %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/my_js/datatable.js' %}"></script>
    <!-- my fontawesom -->
    <script type="text/javascript">
        $(document).ready(function () {
            var calculate = function () {
                if ($('#gheymat').length && $('#tedad_click').length) {
                    var cost = $('#gheymat').val();
                    if (isNaN(cost)) {
                        $('#mablagh_ha_click').val(0);
                        return;
                    }
                    var click_count = $('#tedad_click').val();
                    if (isNaN(click_count)) {
                        $('#mablagh_ha_click').val(0);
                        return;
                    }
                    click_count = Number(click_count);
                    cost = Number(cost)
                    if (click_count <= 0 || cost <= 0) {
                        $('#mablagh_ha_click').val(0);
                        return;
                    }
                    $('#mablagh_ha_click').val(Math.trunc(cost / click_count));
                }
            };
            $('#tedad_click,#mablagh_ha_click').keyup(calculate);
        });
    </script>
    {#    <script src="{% static 'bower_components/fontawesom/js/all.js' %} "></script>#}
{% endblock %}
