{% extends "panel/index/index_base.html" %}
{% load static %}
{% load app_filters %}
{% load i18n %}
{% block css %}
    <style>
        td {
            text-align: center;
        }

        th:nth-child(11), td:nth-child(11) {
            white-space: nowrap;
        }
    </style>
{% endblock %}
{% block page_title %}
    لیست تیکت ها
{% endblock %}
{% block dashboard %}
    <li>لیست تیکت ها</li>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body">
                        {% include "errors.html" %}
                        {% include "messages.html" %}
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <table id="UserDatatable"
                                   class="table table-bordered table-striped table-centered vertical-middle-align">
                                <thead>
                                <tr>
                                    <th class="text-center">شماره</th>
                                    <th class="text-center">عنوان</th>
                                    <th class="text-center">تاریخ</th>
                                    <th class="text-center">وضعیت</th>
                                    <th class="text-center">پیام جدید</th>
                                    <th class="text-center">عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>


    <!-- /.modal -->
    <div class="modal fade" id="toggle-user-state-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class=" text-black">x</span></button>
                    <h4 class="modal-title"><b>وضعیت تیکت تغییر کند؟</b></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger no_button" data-dismiss="modal">{% trans "No" %}</button>
                    <button type="button" class="btn btn-primary yes_button" data-dismiss="modal">{% trans "Yes" %}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
{% endblock %}
{% block javascripts %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/my_js/datatable.js' %}"></script>
    <!-- my fontawesom -->
    <script src="{% static 'bower_components/fontawesom/js/all.js' %} "></script>
    <script>
        window.data_table_cool_options["rowCallback"] = function (row, data) {
            if (data[3] == "True") {
                $('td:eq(3)', row).addClass("text-center").html('<span class="bg-green color-palette col-md-12">باز</span>');
            } else {
                $('td:eq(3)', row).addClass("text-center").html('<span class="bg-red color-palette col-md-12">بسته</span>');
            }
            if (data[4] >0 ) {
                $('td:eq(4)', row).addClass("text-center").html('<span class="bg-yellow color-palette col-md-12">'+data[4]+'</span>');
            }
            var seen_message = "{% url "ListTicketMessaes" 0 %}";
            seen_message = seen_message.substr(0, where_to_edit.length - 1);
            $(row).append('<td class="text-center"><a href="'+seen_message+'/'+data[0]+'" class="btn btn-primary" style="margin-left:5px;">لیست پیام ها</a>{% if user.is_superuser %}<a class="btn btn-danger toggle-user-state">تغییر وضعیت</a></td>{% endif %}')
        };
        var where_to_edit = "{% url "ToggleTicketState" 0 %}";
        where_to_edit = where_to_edit.substr(0, where_to_edit.length - 1);
        datatable_simple_show({
            url: "{% url 'ListTicketsDataTable' %}",
            no_action_nutton:true,
            real_cols: 5,
            datable_id: '#UserDatatable',
            do_after_initializing: function (table) {
                $('.toggle-user-state').click(function () {
                    var row_clicked = $(this);
                    $('#toggle-user-state-modal').modal('toggle');
                    $('#toggle-user-state-modal .yes_button').click(function () {
                        window.location.href = where_to_edit + getId(table, row_clicked);
                        $('#toggle-user-state-modal').modal('toggle');
                    });
                    console.log(getId(table, $(this)));
                });
            }
        });
    </script>
{% endblock %}
