{% extends "panel/index/index_base.html" %}
{% load static %}
{% load i18n %}
{% load app_filters %}
{% block css %}
{% endblock %}
{% block page_title %}
    {% trans "Messages" %}
{% endblock %}
{% block dashboard %}
    <li>{% trans "Messages" %}</li>
{% endblock %}


{% block main_content %}
    <section class="content">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{% trans "Inbox" %}</h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <a href="{% url 'NewMessageCreate' %}" class="btn btn-primary btn-block margin-bottom">{% trans "Send new message" %}</a>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="mailbox-controls">
                            <!-- Check all button -->
                            <div class="pull-right">
                                <div class="btn-group">
                                </div>
                            </div>
                            <!-- /.btn-group -->
                            <button type="button" id="refresh_page" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                            <div class="pull-left">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                                </div>
                                <!-- /.btn-group -->
                            </div>
                            <!-- /.pull-right -->
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                {% for item in user_message %}

                                    <tr>
                                        {% if user.username == item.girande.username %}

                                            <td><input type="checkbox"></td>
                                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>

                                            <td class="mailbox-name"><a href="{% url  'Message_show_view' pk=item.id %}">{{ item.ferestande }}</a></td>

                                            <td class="mailbox-subject"><b>{{ item.text }}</b> - {{ item.text }}
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date">{{ item.save_date|date_jalali }}</td>
                                        {% else %}

                                            <td><input type="checkbox"></td>
                                            <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>

                                            <td class="mailbox-name"><a href="{% url  'Message_show_view' pk=item.id %}">{{ item.girande }}</a></td>

                                            <td class="mailbox-subject"><b>{{ item.text }}</b> - {{ item.text }}
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date">{{ item.save_date|date_jalali }}</td>
                                            </tr>
                                        {% endif %}
                                {% endfor %}

                                </tbody>
                            </table>
                            <!-- /.table -->
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>

                </div>
                <!-- /. box -->
            </div>
            <!-- /.col -->
        </div>
        <div class="control-sidebar-bg"></div>
    </section>

{% endblock %}
<!-- ./wrapper -->
{% block javascripts %}
    <script>
        $("#refresh_page").click(function () {
            location.reload()
        });
        $(function () {
            //Enable iCheck plugin for checkboxes
            //iCheck for checkbox and radio inputs
            $('.mailbox-messages input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //Enable check and uncheck all functionality
            $(".checkbox-toggle").click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                } else {
                    //Check all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("check");
                    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                }
                $(this).data("clicks", !clicks);
            });

            //Handle starring for glyphicon and font awesome
            $(".mailbox-star").click(function (e) {
                e.preventDefault();
                //detect type
                var $this = $(this).find("a > i");
                var glyph = $this.hasClass("glyphicon");
                var fa = $this.hasClass("fa");

                //Switch states
                if (glyph) {
                    $this.toggleClass("glyphicon-star");
                    $this.toggleClass("glyphicon-star-empty");
                }

                if (fa) {
                    $this.toggleClass("fa-star");
                    $this.toggleClass("fa-star-o");
                }
            });
        });
    </script>
    <!-- AdminLTE for demo purposes -->
{% endblock %}
