{% extends "panel/index/index_base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
{% endblock %}
{% block page_title %}
    {% trans "404 Error Page" %}
{% endblock %}
{% block dashboard %}
    <li>{% trans "404 Error Page" %}</li>
{% endblock %}
{% block main_content %}
    <section class="content-header">
        <h1>
            {% trans "404 Error Page" %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="/"><i class="fa fa-dashboard"></i>خانه</a></li>
        </ol>
    </section>
{% endblock %}

