{% extends "panel/index/index_base.html" %}
{% load static %}
{% block css %}
{% endblock %}
{% block page_title %}
    ایجاد پلن
{% endblock %}
{% block dashboard %}
    <li>ایجاد پلن</li>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">جهت ایجاد پلن، فرم زیر را پر کنید.</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="box-body">
                            {% include "errors.html" %}
                            {% include "messages.html" %}
                            <div class="row">
                                <div class="form-group col-sm6 col-md-3">
                                    {% if form.onvan.label_tag %}
                                        <label for="onvan">{{ form.onvan.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.onvan }}
                                    {% if form.onvan.help_text %}
                                        <p class="help-block">{{ form.onvan.help_text }}</p>
                                    {% endif %}
                                </div>

                                <div class="form-group col-sm6 col-md-3">
                                    {% if form.gheymat.label_tag %}
                                        <label for="gheymat">{{ form.gheymat.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.gheymat }}
                                    {% if form.gheymat.help_text %}
                                        <p class="help-block">{{ form.gheymat.help_text }}</p>
                                    {% endif %}
                                </div>

                                <div class="form-group col-sm6 col-md-3">
                                    {% if form.tedad_click.label_tag %}
                                        <label for="tedad_click">{{ form.tedad_click.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.tedad_click }}
                                    {% if form.tedad_click.help_text %}
                                        <p class="help-block">{{ form.tedad_click.help_text }}</p>
                                    {% endif %}
                                </div>

                                <div class="form-group col-sm6 col-md-3">
                                    <label for="mablagh_ha_click"><label for="tedad_click">مبلغ هر کلیک:</label></label>
                                    <input class="form-control" id="mablagh_ha_click" readonly="readonly"/>
                                    <p class="help-block">{{ form.tedad_click.help_text }}</p>
                                </div>

                                <div class="form-group col-sm6 col-md-3">
                                    {% if form.vazeyat.label_tag %}
                                        <label for="vazeyat">{{ form.vazeyat.label_tag }}<span class="red-star">*</span></label>
                                    {% endif %}
                                    {{ form.vazeyat }}
                                    {% if form.vazeyat.help_text %}
                                        <p class="help-block">{{ form.vazeyat.help_text }}</p>
                                    {% endif %}
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">ثبت پلن</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
    <!-- /.modal -->
{% endblock %}
{% block javascripts %}
    <script src="{% static 'bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'dist/my_js/datatable.js' %}"></script>
    <!-- my fontawesom -->
    <script type="text/javascript">
        $(document).ready(function () {
            var calculate = function () {
                if ($('#gheymat').length && $('#tedad_click').length) {
                    var cost = $('#gheymat').val();
                    if (isNaN(cost)) {
                        $('#mablagh_ha_click').val(0);
                        return;
                    }
                    var click_count = $('#tedad_click').val();
                    if (isNaN(click_count)) {
                        $('#mablagh_ha_click').val(0);
                        return;
                    }
                    click_count = Number(click_count);
                    cost = Number(cost)
                    if (click_count <= 0 || cost <= 0) {
                        $('#mablagh_ha_click').val(0);
                        return;
                    }
                    $('#mablagh_ha_click').val(Math.trunc(cost / click_count));
                }
            };
            $('#tedad_click,#mablagh_ha_click').keyup(calculate);
        });
    </script>
{#    <script src="{% static 'bower_components/fontawesom/js/all.js' %} "></script>#}
{% endblock %}
