{% extends "panel/index/index_base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
{% endblock %}
{% block page_title %}
    {% trans "Publish Ad" %}
{% endblock %}
{% block dashboard %}
    <li>{% trans "Publish Ad" %}</li>
{% endblock %}
{% block main_content %}

    <section class="content">
        <div class="row">
            <div class="col-md-12">
                {% include "errors.html" %}
                {% include "messages.html" %}
            </div>
        </div>
        {% include 'system/Tabligh/show_tabligh_part.html' %}
    </section>
    <!-- /.modal -->
{% endblock %}
{% block javascripts %}
    <!-- CK Editor -->
    <script src="{% static 'dist/my_js/show_tabligh.js' %}"></script>
{% endblock %}
